<a href="https://colab.research.google.com/github/tenafrangelos/ML/blob/main/SVM_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error
from scipy import stats

In [ ]:
data=pd.read_csv("/content/Tena Fr.angelos - UniversalBank.csv - Tena Fr.angelos - UniversalBank.csv.csv")
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [ ]:
data.drop(['ID'],axis=1,inplace=True)
data.drop(['ZIP Code'],axis=1,inplace=True)

In [ ]:
Y = data["Personal Loan"]
X = data.drop(["Personal Loan"],axis=1)
X_train,X_test, Y_train,Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 1)

In [ ]:
scaler = MinMaxScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_test = pd.DataFrame(scaler.fit_transform(X_test), columns=X_test.columns)
X_train.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,0.681818,0.695652,0.064815,0.333333,0.040,0.0,0.000000,0.0,0.0,1.0,0.0
1,0.295455,0.195652,0.078704,0.000000,0.067,1.0,0.000000,0.0,0.0,1.0,0.0
2,0.886364,0.891304,0.143519,1.000000,0.220,0.0,0.000000,1.0,0.0,1.0,0.0
3,0.522727,0.521739,0.699074,0.666667,0.190,1.0,0.510535,0.0,0.0,1.0,0.0
4,0.750000,0.739130,0.125000,0.666667,0.010,0.5,0.184765,0.0,0.0,0.0,0.0

In [ ]:
classifier = SVC(kernel='linear')
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [ ]:
#w=np.zeros([X_train.shape[1],1])
#b=0

In [ ]:
predict=classifier.predict(X_test) #-> for build-in function prediction
cm = confusion_matrix(Y_test,predict)  
print(cm)
print(classification_report(Y_test, predict))

#     print("Accuracy:",metrics.accuracy_score(y_test, y_pred))  --> for accuracy 

#     accuracy = float(cm.diagonal().sum())/len(Y_test)
#      print("\nAccuracy Of SVM For The Given Dataset : ", accuracy)
#       from sklearn.metrics import classification_report, confusion_matrix
#        print(confusion_matrix(y_test,y_pred))
#       print(classification_report(y_test,y_pred))
#def Predictive_Line(X,w,b):
   
#    Predictions = np.dot(X,w)+ b
#    return Predictions

[[874  26]
 [ 31  69]]
              precision    recall  f1-score   support

           0       0.97      0.97      0.97       900
           1       0.73      0.69      0.71       100

    accuracy                           0.94      1000
   macro avg       0.85      0.83      0.84      1000
weighted avg       0.94      0.94      0.94      1000

In [ ]:
accuracy = float(cm.diagonal().sum())/len(Y_test)
print(accuracy)
mean_squared_error(Y_test, predict)

0.943

0.057

In [ ]:
#def hinge_loss_single(Y,X,w,b):
  
#   ydash = Predictive_Line(X,w,b)*(np.matmul(w,Y) + b)
#    hinge = np.max([0.0, 1 - ydash*Predictive_Line(X,w,b)])
#    return hinge